<article class="post">
  <div class="title">
    <a href="/post/{{id}}">{{title}}</a><a class="time">{{created_at}}</a><a> by:{{user.username}}</a>
    
  <div class="content">
    <h3>{{post_content}}</h3>
  </div>
  <div class="meta">

    <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</article>